# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude large binary files
*.psd
*.ai
*.sketch

# Make sure to NOT ignore the logo files
!src/assets/images/logo.*

# React Component Preview
previewConfig.json